/*------------------conference--------------------*/
.conference-layout {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 0px;
  background-color: #443d37;
}

.conference-layout-wating {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.conference-local-video-layout {
  position: absolute;
  top: 30px;
  left: 24px;
}

.conference-local-screen-layout {
  position: absolute;
  top: 30px;
  right: 24px;
}
