/*------------------login--------------------*/
.login-form {
  min-width: 360px;
}

.login-input-icon {
  color: rgba(0, 0, 0, 0.25);
}

.login-join-button {
  width: 100%;
}


.test-connection-step {
  margin: 1em;
  width: 3em;
  vertical-align: top;
  display: inline-block;
}