/*------------------media-seetings--------------------*/
.settings-item{
  display:flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.settings-item-left{
  width:80px;
  text-align: right;
  color:rgba(0, 0, 0, 0.65);
  line-height: 32px;
  font-size: 14px;
  font-weight: normal;
}

.settings-item-right{
  flex:1;
  padding-left: 20px;
  padding-right: 20px;
}

.settings-video-container{
  width:240px;
  height:180px;
  background-color: #000000;
  margin-top: 20px;
}
